
<div class="container">
<h2>Sign up</h2>
<%= semantic_form_for(resource_name, resource, :url => registration_path(resource_name),:html => {:class => "form-stacked"}) do |f| %>
  <%= f.inputs do %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
<% end %>
   <%= f.buttons do %>
     <%= f.commit_button :label => "Sign Up" %>
   <% end %>
<% end %>
<%= render :partial => "devise/shared/links" %>
</div>








